body {
    width:100%;
    height:100%;
    /*background-image: url(img/Bloom_bg.png);*/
}

#allUsers{
    position: absolute;
    margin-left:10px;
    width:30%;
    background-color: white;
    height:80%;
    text-align: center;
    margin: 0;
    overflow:auto;
    bottom:0;
    
}


#allUsersP{
    background-color: #fdf3f0;
    
}
.usersP{
    background-color: #fdf3f0;
    font-size: 1em;
}


.xbutton{
    position:absolute;
    right:0;
    z-index: 99;
    color:#ed7a5d;
}

.joinChat, .send{
    background-color: #ed7a5d;
    -moz-border-radius:10px;
	-webkit-border-radius: 10px;
	border-radius:10px;
    border-color: #ed7a5d;
    font-size: 0.7em;
    color: white;
    width:30%;
    height: 90%;
    margin-top: 1%;
}

#chatBox{
    height: 100%;
}

.chatDiv{
    position:absolute;
    width:65%;
    height:80%;
    text-align: center;
    margin: 0;
    float:right;
    bottom: 0;
    right:0;
    
}

#configBox, #controls{
    height:15%;
    width:100%;
    background-color: white;
    text-align: center;
    left:0;
    position: absolute;
    bottom:0;
}

.input0, .input1{
    border-color: white;
    width:60%;
    height: 80%;
    float: left;
    position: relative;

}

#chatDisplay{
    width:100%;
    background-color: white;
    float: right;
    height: 85%;
    position: relative;
    overflow: auto;
    margin-right: 5%;
    
}

.wholeChat{
    background-color: #f8f8f8;
    position:absolute;
    height: 50%;
    width:50%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin: auto; 
     -moz-border-radius: 1%;
	-webkit-border-radius: 1%;
	border-radius: 1%;
    overflow: scroll;
    z-index: 99;
}

.topBar{
    background-color: #ed7a5d;
    top:0;
    position: absolute;
    height:15%;
    width:100%;
    text-align: center;
    z-index: 1;
}


.teamBut{
    bottom:0;
    left:0;
    right:0;
    position: absolute;
    font-size: 1em;
    color:antiquewhite;
    height:35px;
    width:35px;
    margin: auto;
    text-align: center;
    background-color: #B74059;
    border-color: #B74059;
    -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
    box-shadow: 0 0 10px #ffffff;     
    
}

.teamBut:hover{
    background-color: #9ecdff;
    border-color: #9ecdff;
    cursor:pointer;
}

.chatBut{
    font-size: 1em;
    color:antiquewhite;
    height:60px;
    width:60px;
    margin: auto;
    background-color: #ed7a5d;
    border-color: #ed7a5d;
    -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
    text-align: center;
    box-shadow: 0 0 10px #ffffff;     
    
}

.chatBut:hover{
    background-color: #9ecdff;
    border-color:  #9ecdff;
    cursor:pointer;
}


.stickerBut{
    font-size: 1em;
    color:antiquewhite;
    height:60px;
    width:60px;
    margin: auto;
    background-color: #ed7a5d;
    border-color: #ed7a5d;
    -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
    text-align: center;
    box-shadow: 0 0 10px #ffffff;      
    
}

.stickerBut:hover{
    background-color: #cfd8c3;
    border-color:  #cfd8c3;
    cursor:pointer;
}


.quizBut{
    font-size: 1em;
    color:antiquewhite;
    height:60px;
    width:60px;
    margin: auto;
    background-color: #ed7a5d;
    border-color: #ed7a5d;
    -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
    text-align: center;
    box-shadow: 0 0 10px #ffffff;      
}

.quizBut:hover{
    background-color: #fdae9a;
    border-color:  #fdae9a;
    cursor:pointer;
}



.wrap{
    background-image: url(../src/img/Bloom_bg1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.wrap {
    position:absolute;
    width:100%;
    height:100%;
    margin:auto;
    align-content: center;
}

.bloomDiv{
    text-align: center;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:200px;
    height:150px;
    margin: auto;
    color:white;


}
.bloom{
    font-size: 6.5em;
    margin:auto;
    color: #ffffff;
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate;
   
    /*glow effect is from code pen https://codepen.io/FelixRilling/pen/qzfoc?limit=all&page=1&q=neon */
}

.teamMembers{
    display: inline-flex;
    position:absolute;  
    bottom:0;
    right: 0;
    left: 0;
    width:100vw;
    height:300px;
    margin: auto;
}

#buttonDiv{
    display: inline-flex;
    position: absolute;
    top:50px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 100%;
}

.kaylie {
    text-align: center;
    margin: auto;
	width: 100px;
	height: 100px;
    background-image: url(img/moa.png);
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
    box-shadow: 0 0 25px #cfd8c3;
    background-repeat: no-repeat;
    background-size: cover;
    animation: float 6s ease-in-out infinite;
    
    /*Animation effect is from https://codepen.io/MarioDesigns/pen/woJgeo?q=animation%20css&order=popularity&depth=everything&show_forks=false*/
    
}


.sehee {
    text-align: center;
    margin: auto;
    width: 100px;
    height: 100px;
    background-image: url(img/sehee.png);
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    box-shadow: 0 0 25px #cfd8c3;
    background-repeat: no-repeat;
    background-size: cover;
    animation: float 6s ease-in-out infinite;
    
    /*Animation effect is from https://codepen.io/MarioDesigns/pen/woJgeo?q=animation%20css&order=popularity&depth=everything&show_forks=false*/

}


.leo{
    text-align: center;
    margin: auto;
    width: 100px;
    height: 100px;
    background-image: url(img/leo.jpg);
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    box-shadow: 0 0 25px #cfd8c3;
    background-repeat: no-repeat;
    background-size: cover;
    animation: float 6s ease-in-out infinite;
    
/*Animation effect is from https://codepen.io/MarioDesigns/pen/woJgeo?q=animation%20css&order=popularity&depth=everything&show_forks=false*/
    
}


.name {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 170px;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    font-size: 1.2em;
    font-family: Gill Sans;
}




.kaylie:hover .kaylieCircle{
    visibility: visible;
    opacity: 1;
}


.sehee:hover .seheeCircle{
    visibility: visible;
    opacity: 1;
}

.leo:hover .leoCircle{
    visibility: visible;
    opacity: 1;
}

.kaylieCircle, .seheeCircle, .leoCircle{
    visibility: hidden;
    font-family: monospace;
    margin:0;
    color: #000000;
    font-size: 1.7em;
}
  

/*float effect starts*/

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}



@-webkit-keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}



@-moz-keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}



/*float effect finishes*/

/* neon effect keyframes start*/

@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #c51dd3, 0 0 20px #33c8ff, 0 0 30px #33c8ff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ca2fde, 0 0 35px #ca2fde, 0 0 40px #ca2fde, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}

@-moz-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}

@keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}
/* neon effect keyframes finish*/



.App {
  text-align: center;
}

#display {
    position:fixed;
    background-color:#FADD;
    left:0;
    top:0;
    bottom:0;
    right:0;
    width:80vw;
    height:80vh;
    cursor:none;
    margin: auto;
}

#controls2 {
    position:fixed;
    bottom:0;
    right:0;
    width:30vw;
    height:50px;
    background-color:#DADD;
}


#yourId{
    position:fixed;
    left:0;
    right:0;
    top:0;
    color:white;
}

#myImg {
    position:absolute;
}

.allImgs {
    position:absolute;
}


#display2 {
    position:fixed;
    left:0;
    top:0;
    bottom:0;
    right:0;
    margin:auto;
    width:100vw;
    height:100vh;
    cursor:none;
}


#bgImg {

    position:fixed;
    left:0;
    top:0;
    bottom:0;
    right:0;
    margin:auto;
    width:100vw;
    height:100vh;
    cursor:none;
}


#controls3 {
    position:fixed;
    left:0;
    width:100px;
    height:100vh;
    background-color:rgba(237, 122, 93, 0.63);
}


#controls4 {
    position:fixed;
    right:0;
    width:100px;
    height:100vh;
    background-color:rgba(237, 122, 93, 0.63);
}

.butDiv{
    width:170px;
    height:10%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    position:absolute;
    margin: auto;
    
}
.roomBut1{
    z-index: 99;
    position:relative;
    height:30px;
    width:50px;
    margin: auto;
    float: left;
    background-color: #ed7a5d;
    border-color: #ed7a5d;
    box-shadow: 0 0 10px #ffffff; 
    color:antiquewhite;
    
}


.roomBut2{
    z-index: 99;
    position:relative;
    height:30px;
    width:50px;
    margin: auto;
    float: right;
    background-color: #ed7a5d;
    border-color: #ed7a5d;
    box-shadow: 0 0 10px #ffffff; 
    color:antiquewhite;
}


.entireDiv{
    position:fixed;
    background-color:#EE7563;
    left:0;
    top:0;
    bottom:0;
    right:0;
    width:80vw;
    height:70vh;
    margin: auto;

}

.insideWhichRoom{
	height:70%;
	width:50%;
	top:0;
	bottom:0;
	position: absolute;
	left:0;
	right:0;
	margin:auto;
	
}
.word {
	color:antiquewhite;
	
}
.givenQuestion {
	color:antiquewhite;
	font-size: 0.9em;
}


.typeQuestion{
	text-align:center;
	width: 100%;
	height: 5vh;
	margin: 1%;
	
}
.option{
	text-align:center;
	width: 48%;
	height: 5vh;
	margin: 0.3%;
}
.fontsize{
	font-size: 1.3em;
}

.roomBut3{
    z-index: 99;
    position:relative;
    height:30px;
    width:50px;
    margin: auto;
   
    background-color: #ed7a5d;
    border-color: #ed7a5d;
    box-shadow: 0 0 10px #ffffff; 
    color:antiquewhite;
    
}
.roomBut4{
    z-index: 99;
    position:relative;
    height:30px;
    width:50px;
    margin: auto;
  	margin-left:10px;
    background-color: #ed7a5d;
    border-color: #ed7a5d;
    box-shadow: 0 0 10px #ffffff; 
    color:antiquewhite;
}
.roomBut5{
    z-index: 99;
    position:relative;
    height:5vh;
    width:80%;
    margin: auto;
  	margin-top:2%;
    background-color: #ed7a5d;
    border-color: #ed7a5d;
    box-shadow: 0 0 10px #ffffff; 
    color:antiquewhite;
}


